h2 {
    margin-left: 1rem;
    color: orangered;
}

.products-grid {
    display: grid;
    margin-left: 1rem;
}

.price {
    color: red;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10em;
    align-items: center;
    text-align: center;
    max-width: 30em
}

.product-image {
    max-width: 20em;
    max-height: 20rem;
    margin-bottom: 1em;
}

h3 a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
    transition-timing-function: ease-in;
}

h3:hover {
    transform: scale(1.05);
}

.checked {
    color: orange;
}

.like, .removeBtn {
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background-color: pink;
    border-radius: 1em;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    transition-timing-function: ease;
}
.like:hover {
    transform: scale(1.1);
}
.like-cnt {
    margin-left: 1rem;
}

.removeBtn {
    background-color: wheat;
}